@using SocialNetwork.Core.Application.ViewModels.Posts;
@model SavePostViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save Post";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editing the post" : "Creating a new Post")</h4>
                </div>
                <div class="card-body">


                    <form method="post" asp-controller="Post" asp-action="@(editMode ? "Edit":"Create")" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">What is about?: </label>
                            <textarea type="text" asp-for="Description" class="form-control" ></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="File" class="form-label">Choose an image if you want:</label>
                            @if (editMode && Model.ImagePath != null)
                            {
                                <input asp-for="File" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="File" class="form-control" />
                            }

                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        

                        <input type="hidden" asp-for="Created" />
                        <input type="hidden" asp-for="Id" />

                        <a asp-controller="Post" asp-action="Index" class="btn btn-warning">Go Back</a>
                        <button type="submit" class="btn btn-primary">Post</button>

                    </form>



                </div>

            </div>
        </div>
    </div>

</div>

